<table class="striped responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Mail</th>
            <th>Phone</th>
            <th>Role</th>
            <th>date_time</th>
            <th>status</th>
        </tr>
    </thead>

    <tbody>

        <% print.forEach(function (user) { %>
            <tr>
                <td><%= user.name %></td>

                <td><%= user.surname %></td>

                <td><%= user.mail %></td>

                <td><%= user.phone %></td>

                <td><%= user.role %></td>

                <td><%= user.date_time %></td>

                <td><%= user.status %></td>
            </tr>
        <% }) %>

            
        <!-- <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
        </tr> -->
    </tbody>
</table>

<!--
     select users.name, users.surname, users.mail, users.phone, users.role, booking.date_time, booking.status, users.idUser from users right join booking on users.idUser = booking.idUser order by name;
     -->