<%- include partials/header.ejs %>
    <%- include partials/navbar.ejs %>

<!-- carousel -->
<div class=" carou carousel carousel-slider">
    <div class="carousel-fixed-item center">
        <a href="#anchorDesc" class="btn-floating btn-large">
            <i class="material-icons">arrow_downward</i>
        </a>
    </div>
    <div class="carousel-item slide1 white-text" href="#one!">
    </div>
    <div class="carousel-item slide2 white-text" href="#two!">
    </div>
    <div class="carousel-item slide3 white-text" href="#three!">
    </div>
</div>

<!-- description -->
<div class="container description" id="anchorDesc">
    <div class="row">
        <div class="col s12 m12 s12">
            <h2 class="goworking">Saint-GoWorking</h2>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus voluptatum, tempora, molestiae atque placeat
                dolor repudiandae, libero perspiciatis voluptatibus aperiam labore ipsam in ratione dolore esse sapiente
                harum recusandae deleniti!</span>
        </div>
    </div>
</div>

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/img/coworking.jpg"/>
    </div>
</div>

<!-- newsletter -->
<div class="row newsLetter">
    <div class="col s12 m12 l12 center hideLogo newsMargin">
        <img src="/img/charte-logotype-MDA.png" class="responsive-img newsletterPad" width="140"/>
    </div>
    <div class=" col s12 m12 l12">
        <div class="button-arrow">
            <a href="#anchorTarif" class="btn-floating btn-large">
                <i class="material-icons">arrow_downward</i>
            </a>
        </div>
    </div>
    <div class="col s12 l12 m12 center mt">
                <button class="waves-effect waves-light btn-large">S'inscrire à la newsletter</button>
    </div>
</div>

<hr class="hrBlue"/>

<!-- cartes avec les différentes formules -->
<%- include partials/formules.ejs %>
<!-- //fin div carte formule -->

<!-- banner --> 
    <div class="row blueBack">
            <div class="col s12 l12 m12 center mt button-arrow">
                <a href="#anchorResa" class="btn-floating btn-large">
                    <i class="material-icons">arrow_downward</i>
                </a>
            </div>
    </div>
<br>

<!-- reservation -->
<div id="anchorCal" class="container-fluid">
    <div id="choicebloc" class="row">
        <h2>Réservation</h2>
    </div>
    <%- include partials/calendaresa.ejs %>
</div>


<!-- bouton resa -->
<div class="row blueBack">
    <div class="col s12 l12 m12 button-arrow">
        <a href="#anchorContact" class="btn-floating btn-large">
            <i class="material-icons">arrow_downward</i>
        </a>
    </div>
    <div class="col s12 l12 m12 logoAlign">
        <a href="#userchoice" class="waves-effect waves-light btn modal-trigger">Confirmez votre demande</a>
        
    </div>
    <!-- Modal -->
    <%- include partials/userchoice.ejs %>
</div>

<!-- logo -->
<!-- <div class="row ">
    <div class="col s12 m12 l12 logoAlign newsLetter">
        <img src="/img/charte-logotype-MDA.png" class="responsive-img newsletterPad" width="250">
    </div>
</div> -->



<!-- contact and map -->
    <div id="anchorContact" class="row map">
        <div class="col l8 m8 s12">
            <div id="mapid"></div>
        </div>
       <div class=" contact col l4 m4 s12">
           <h3 class="titreContact">Contact</h3>
           <form action="">
                <div>
                    <label for=""></label>
                    <input type="text" placeholder="Nom et Prénom">
                </div>
                <div>
                    <label for="tel"></label>
                    <input type="tel" id="tel" placeholder="Téléphone">
                </div>
                <div>
                    <label for="mail"></label>
                    <input type="email" id="mail" placeholder="Email">
                </div>
                <div>
                    <label for="hob">Entrez votre message:</label>
                    <textarea maxlength="500" id="hob" required name="hobbies"></textarea>
                </div>
                <div>
                    <button class="waves-effect waves-light btn">Envoyez</button>
                </div>
           </form>
           <div class="descContact col s12 l12 m12 blueColor">
                <br>
                <br>
                <span><i class="material-icons">place</i> 1 Place du Maréchal Juin, 31800 Saint-Gaudens</span>
                <br>
                <a target="_blank" href="https://maisondelavenirstgo.jimdo.com/" class="blueColor"><i class="material-icons">public</i> maisondelavenir.eu</a>
                <br>
                <span><i class="material-icons">phone</i> 07 71 69 17 12</span>
                <br>
           </div>
       </div>
    </div>


<%- include partials/footer.ejs %>