<%- include partials/header.ejs %>
    <%- include partials/navbar.ejs %>

<!-- carousel -->
<div class=" carou carousel carousel-slider" style="height: 90vh;">
    <div class="carousel-fixed-item center">
        <a href="#anchorResa" class="btn-floating btn-large">
            <i class="material-icons">arrow_downward</i>
        </a>
    </div>
    <div class="carousel-item slide1 white-text" href="#one!">
    </div>
    <div class="carousel-item slide2 white-text" href="#two!">
    </div>
    <div class="carousel-item slide3 white-text" href="#three!">
    </div>
</div>

 <!-- formules presentation -->
<%- include partials/formules.ejs %>

<!-- newsletter -->
<div class="row">
    <div class="blueBack col s12 m12 l12 center" style="height: 25vh;">
        <form action="" class="button-align newsletterPad" style="padding-top: 10vh;">
            <div class="button-align col s3 m3 l3">
                <img src="/img/charte-logotype-MDA.png" class="responsive-img newsletterPad" width="140">
            </div>
        
            <div class="col s3 m3 l3">
                <input placeholder="E-mail" type="text" style="background-color: rgb(199, 183, 183);">
            </div>
            <div class="col s3 m3 l3">
                <button class="waves-effect waves-light btn">S'inscrire à la newsletter</button>
            </div>
        </form>
    </div>
</div>
<!-- <div class="row" style="margin: 0;">
    <div class="blueBack button-align col s12 l12 m12">
        
    </div> -->
</div>

<!-- reservation -->
<div id="anchorResa" class="container-fluid">
    <div id="choicebloc" class="row">

        <div class="col s4 l4 m4 center">
             <!-- Modal Trigger -->
            <span class="titlemodal">Calendrier</span>
             <button data-target="modal1" class="modal-trigger " id="btnmodal1"></button> 
              <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Choisissez une date:</h4>
                    <%- include partials/calendaresa.ejs %>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Valider</a>
                </div>
            </div>
        </div>

        <div class="col s4 l4 m4 center">
             <!-- Modal Trigger -->
            <span class="titlemodal">Equipement</span>
            <button data-target="modal2" class="btn modal-trigger" id="btnmodal2"></button>
             <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Choisissez votre équipement:</h4>
                   <%- include partials/equipment.ejs %>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Valider</a>
               </div>
           </div>
        </div>

        <div class="col s4 l4 m4 center">
            <!-- Modal Trigger -->
            <span class="titlemodal">Place</span>
            <button data-target="modal3" class="btn modal-trigger" id="btnmodal3"></button>
            <!-- Modal Structure -->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Choisissez votre place:</h4>
                    <%- include partials/spot.ejs %>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Valider</a>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include partials/footer.ejs %>